31.20.2018
===========
Checkpoint: Module Two More C++ Classes >  Scope in Classes >  Namespaces
Note: Created Makefile under: ~/WorkSpace/Study/cpp/2_Classes/Encapsulation

Next: 
- Create standard Makefile [refer to:https://www.embarcados.com.br/introducao-ao-makefile/?utm_source=nl196&utm_medium=e-mail&utm_campaign=Newsletter%20196]
- Create Repository in Git and feed with cpp classes
- Continue from Checkpoint
